<html>
  <body>
	<script src="/socket.io/socket.io.js"></script>
	<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <h1>Made by Daniel Szaniszlo</h1>
	<br>
	<h2>Standing:</h2>
	<p>Option1: <b><%= o1 %></b></p>
	<p>Option2: <b><%= o2 %></b></p>
	<p>Option3: <b><%= o3 %></b></p>
	<br>
	<p><a href="/login">log in</a></p>
	<p><a href="/logout">log out</a></p>
	<p><a href="/personal">personal</a></p>
	<p><a href="/vote">vote</a></p>
	<p><a href="/results">vote results</a></p>
	<p><a href="/admin">admin page</a></p>
	<br>
	<p>time left:</p>
	<p id = "timer"></p>
	<p>results of the last vote:</p>
	<p id = "last"></p>
	<script>
		var socket = io();
			
		socket.on('timeleft', function(msg){
			document.getElementById("timer").innerHTML = msg;	
		});
		
		socket.on('lastres', function(msg){
			document.getElementById("last").innerHTML = msg;	
		});
		

	</script>
	
  </body>
</html>